.personal-hero:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -20rem;
    width: 50rem;
    height: 50rem;
    right: 150px;
    left: 0;
    margin: 0 auto;
    border-radius: 50%;
    background: #e54b4b;
  }
  @media (max-width: 576px) {
    .personal-hero:before {
      width: 30rem;
      height: 30rem;
      bottom: -10rem;
    }
  }
  .personal-hero .personal-overlay {
    visibility: hidden !important;
  }
  @media (max-width: 768px) {
    .personal-hero .personal-overlay {
      visibility: visible !important;
    }
    .personal-hero .title,
    .personal-hero .sub-title {
      color: #fff;
    }
    .personal-hero .para {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  @media (min-width: 769px) {
    .personal-hero .personal-hero-para {
      position: absolute;
      top: 50%;
      backdrop-filter: blur(12px);
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 1;
      padding: 24px;
    }
  }
  .about-hero:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 3%;
    left: 3%;
    bottom: 0%;
    border-radius: 7px;
    border: 16px solid #e9ecef;
  }
  