.blog-post {
    transition: all 0.2s ease;
  }
  .blog-post .content .title {
    font-weight: 500;
    transition: all 0.2s ease;
  }
  .blog-post .content .title:hover {
    color: #e54b4b !important;
  }
  .blog-post .content a {
    transition: all 0.2s ease;
  }
  .blog-post .content a:hover {
    color: #e54b4b !important;
  }
  .blog-post:hover {
    box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15) ;
    /* background: #fff; */
    transform: translateY(-5px);
  }
  .dark:hover{
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.753) 
  }