<section class="section py-5" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <div class="position-relative">
            <h4 class="title text-uppercase mb-4">Contáctame</h4>
            <div>
              <div class="title-box"></div>
              <div class="title-line"></div>
            </div>
          </div>
          <p class="text-muted mx-auto para-desc mt-5 mb-0">
            Muestro mis contactos para que podamos hablar de cualquier tema
          </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="content mt-4">
            <h5 class="title text-uppercase">Telefono</h5>

            <a
              href="tel:+51 917303701"
              [ngClass]="
                (themeService.isDarkMode$ | async)
                  ? 'text-info'
                  : 'text-primary'
              "
              >+51 917303701</a
            >
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="content mt-4">
            <h5 class="title text-uppercase">Email</h5>
            <a
              href="mailto:pradojavier930@gmail.com"
              target="_blank"
              [ngClass]="
                (themeService.isDarkMode$ | async)
                  ? 'text-info'
                  : 'text-primary'
              "
              >{{ "pradojavier930@gmail.com" }}</a
            >
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="content mt-4">
            <h5 class="title text-uppercase">Ubicacion</h5>
            <a
              href="https://www.google.com/maps/place/Ayacucho/@-13.1583619,-74.2535039,13z/data=!3m1!4b1!4m6!3m5!1s0x91127d88f5b2bee9:0xe9b3cb843a70a16e!8m2!3d-13.1638737!4d-74.2235641!16zL20vMDJwZ252?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              class="video-play-icon text-primary"
              [ngClass]="
                (themeService.isDarkMode$ | async)
                  ? 'text-info'
                  : 'text-primary'"
              >Ayacucho-Peru</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
