.portfolio-box {
    transition: all 0.8s ease;
  }
  .portfolio-box .portfolio-box-img img {
    transition: all 0.5s ease;
  }
  .portfolio-box .portfolio-box-img .overlay-work {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: rgba(60, 72, 88, 0.65);
  }
  .portfolio-box .portfolio-box-img .overlay-work .work-content {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    left: 0;
  }
  .portfolio-box .portfolio-box-img .overlay-work .work-content .work-icon {
    height: 45px;
    width: 45px;
    line-height: 43px;
    transform: translateY(40px);
    transition: all 0.5s ease;
  }
  .portfolio-box
    .portfolio-box-img
    .overlay-work
    .work-content
    .work-icon
    .image-icon {
    stroke-width: 2 !important;
  }
  .portfolio-box .portfolio-box-img .overlay-work .work-content .work-icon:hover {
    color: #e54b4b !important;
  }
  .portfolio-box .portfolio-box-img .overlay-work .work-content a:hover {
    background: #fff !important;
  }
  
  .portfolio-box .gallary-title .title {
    transition: all 0.5s ease;
    font-weight: 500;
  }
  .portfolio-box .gallary-title .title:hover {
    color: #e54b4b !important;
  }
  .portfolio-box:hover {
    box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15) !important;
    transform: translateY(-5px);
  }
  .portfolio-box:hover .portfolio-box-img img {
    transform: rotate(2deg) scale(1.15);
    opacity: 0.5;
  }
  .portfolio-box:hover .portfolio-box-img .overlay-work {
    opacity: 1;
    transform: scale(1);
  }
  .portfolio-box:hover .portfolio-box-img .overlay-work .work-content .work-icon {
    transform: translateY(0px);
  }
  