<div
  class="item-box portfolio-box rounded shadow overflow-hidden"
  [ngClass]="(themeService.isDarkMode$ | async) ? 'bg-dark' : 'bg-light'"
>
  <div class="portfolio-box-img position-relative overflow-hidden">
    <img
      class="item-container img-fluid mx-auto"
      [src]="project.img"
      alt="1"
    />
    <div class="overlay-work">
      <div class="work-content text-center ">
        <h6 class="text-center text-warning ">Hecho con :</h6>
        @for (i of project.icons; track $index) {
          <div
          class="work-icon bg-dark mx-1 d-inline-block rounded-pill"
          >
            <img [src]="i" alt="icon" width="24px" class="" />
          </div>

          }
             
        
      </div>
    </div>
  </div>
  <div class="gallary-title py-4 text-center">
    <h5>
      <a
        [href]="project.url"
        target="_blank"
        class="title"
        [ngClass]="
          (themeService.isDarkMode$ | async) ? 'text-white' : 'text-dark'
        "
        >{{project.title}}</a
      >
    </h5>
    <span>{{project.description}}</span>
    
  </div>
</div>