<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div
        class="duration date-label-left border rounded p-2 ps-4 pe-4 position-relative shadow text-start"
      >
        {{ work.date }}
      </div>
    </div>
    <!--end col-->
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div
        class="event event-description-right rounded p-4 border float-left text-start"
      >
        <h5 class="title mb-0 text-capitalize">{{work.title}}</h5>
        <small class="company">{{work.subTitle}}</small>
        <p class="timeline-subtitle mt-3 mb-0 text-muted">
          {{work.description}}
        </p>
      </div>
    </div>
    <!--end col-->
  </div>